body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#barra{
    background-color: rgb(198, 198, 198);
    padding: 11px;
    box-shadow: 2px 2px 2px 2px rgb(166, 166, 166);
    display: flex;
}

#h1barra{
    display: flex;
    text-align: left;
    font-size: 24px;
    text-shadow:
    1px 1px 2px rgb(129, 129, 129),
    0 0 1em rgb(179, 179, 179),
    0 0 0.2em rgb(175, 175, 175),;
    padding-left: 32px;
    cursor: pointer;
}

#botondentro{

    justify-items: right;
    justify-content: right;
    text-align: right;
    margin-left: 950px;
    cursor: pointer;
    
}

#boton{
    text-decoration-color: #ffffff;
    background-color: rgb(208, 208, 208);
    padding: 5px;
    border-radius: 100px;
    box-shadow: 1px 2px 1px 1px #4e4e4e;
     
}



#entrada{
    margin-top: 30px;
    padding: 48px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    overflow-wrap: break-word;
    text-shadow:
    1px 1px 1px rgb(129, 129, 129),
    0 0 1em rgb(179, 179, 179),
    0 0 0.1em rgb(175, 175, 175);

}
    
#h2entrada{
    padding: 0px;
    text-align: center;
    overflow-wrap: break-word;
    text-shadow:
    1px 1px 1px rgb(129, 129, 129),
    0 0 1em rgb(179, 179, 179),
    0 0 0.1em rgb(175, 175, 175);
}

#h2entrada{
    padding: 0px;
    text-align: center;
    overflow-wrap: break-word;
    text-shadow:
    1px 1px 1px rgb(129, 129, 129),
    0 0 1em rgb(179, 179, 179),
    0 0 0.1em rgb(175, 175, 175);
}

#contenido1{
    overflow-wrap: break-word;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

#hijocontenido1,#hijocontenido2,#hijocontenido3,#hijocontenido4,
#hijocontenido5,#hijocontenido6,#hijocontenido7,#hijocontenido8,#hijocontenido9,
#hijocontenido10,#hijocontenido11,#hijocontenido12
{
    overflow-wrap: break-word;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: #dbdbdb;
    padding: 48px 64px 48px 48px;
    margin: 32px;
    margin-top: 48px;
    margin-bottom: 48px;
    border-radius: 32px;
    box-shadow: 3px 3px 3px 3px rgb(166, 166, 166);
    overflow-wrap: break-word;
    cursor: pointer;

}

#contenidobloque{
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#footer{
    margin: 48px;
    margin-bottom: 48px;
    margin-top: 64px;
}

#copy{
    margin-top: 30px;
}



@media (max-width: 480px) {



    #botondentro{

        justify-items: right;
        justify-content: right;
        text-align: right;
        margin-left: 95px;
        cursor: pointer;
        
    }

    #contenido1{
    display: none;
    overflow-wrap: break-word;
    text-align: center;
    justify-items: center;
    align-items: center;
        
}    
    #hijocontenido1,#hijocontenido2,#hijocontenido3,#hijocontenido4,
    #hijocontenido5,#hijocontenido6,#hijocontenido7,#hijocontenido8,#hijocontenido9,
    #hijocontenido10,#hijocontenido11,#hijocontenido12
{
       
        background-color: #dbdbdb;
        padding: 24px 24px 24px 24px;
        margin: 12px;
        margin-top: 48px;
        margin-bottom: 48px;
        border-radius: 32px;
        box-shadow: 3px 3px 3px 3px rgb(166, 166, 166);
        overflow-wrap: break-word;

}




}
